.ProgressBar {
	font-size: 10px;
	font-weight: bold;
	padding: 0;
	background-color: #fff;
	border-radius: 3px;
	overflow: hidden;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	position: relative;
	min-height: 1px;
	border: 1px solid #999;
}

	.ProgressBar .Bar {
		width: 0;
		border-radius: 3px;
		overflow: hidden;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		position: absolute;
		-moz-transition: width .05s;
		-o-transition: width .05s;
		-webkit-transition: width .05s;
		transition: width .05s;

		background: -moz-linear-gradient(left, #B6D332 50%, #77B83E 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left, right, color-stop(50%,#B6D332), color-stop(100%,#77B83E)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, #B6D332 50%,#77B83E 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, #B6D332 50%,#77B83E 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, #B6D332 50%,#77B83E 100%); /* IE10+ */
		background: linear-gradient(to right, #B6D332 50%,#77B83E 100%); /* W3C */
	}

	.ProgressBar canvas {
		position: absolute;
		margin: 0;
		top: 0;
		left: 0;
	}

	.ProgressBar p {
		position: absolute;
		margin: 0;
		padding: 0 10px;
		top: 0;
		left: 0;
		font-size: 10px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

		.ProgressBar p.BackProgressBarPercent {
			color: #777;
		}

		.ProgressBar p.ForeProgressBarPercent {
			color: #eee;
		}
