$QLIK_GREEN: #60A729;
$QLIK_DARK_GREY: #5F5F61;
$QLIK_LIGHT_GREY: #D7D7D9;
$QLIK_EVEN_LIGHTER_GREY: #F3F3F3;
$QLIK_ORANGE: #F99C1F;

$PORTRAIT_PUZZLE_AREA_CONTENT_WIDTH: 90vw;
$PORTRAIT_PUZZLE_AREA_CONTENT_HEIGHT: 90vw;

/* Font shamelessy stolen from Qlik website */
@font-face {
    font-family: 'Qlik-Website-Font';
    src: url('../res/font/qlikfont.woff2');
    font-weight: normal;
    font-style: normal;
}

* { 
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body{
    height: 100%;
    box-sizing: border-box;
    font-family: Qlik-Website-Font,Helvetica,Roboto,Arial,sans-serif !important;     
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html{
    font-size:13px;
}

body {
    -webkit-touch-callout: none;                /* event callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: white;
    background-attachment:fixed;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

#sudoquApp{
    height: 100%;
    box-sizing: border-box;
}

/*****************************************
/* Style the three sections of the app:
/*   - Top Area
/*   - Puzzle Area
/*   - Bottom Area
******************************************/
#topArea{
    height: 10%;
    position: relative;
    background-color: $QLIK_DARK_GREY;
    box-sizing: border-box;
    background-image: url("../res/img/logo-large.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-bottom: 2px solid $QLIK_GREEN;
}

#puzzleArea{
    height: 78%;
    position: relative;
    background-color: white;
    padding: 25px;
    padding-bottom: 30px;
    box-sizing: border-box;
    background-image: url("../res/img/rings-right-small.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 20%;   
    background-color: $QLIK_EVEN_LIGHTER_GREY;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;    
}

#bottomArea{
    height: 12%;
    position: relative;
    background-color: $QLIK_DARK_GREY;
    border-top: 2px solid $QLIK_GREEN;
    box-sizing: border-box;
    min-height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;   
    padding-left: 15px;
    padding-right: 15px;    
}

/****************************************************
 * Styling of elements contained in the Puzzle Area
 ****************************************************/
.puzzleAreaContent{
    height: $PORTRAIT_PUZZLE_AREA_CONTENT_HEIGHT;
    width: $PORTRAIT_PUZZLE_AREA_CONTENT_WIDTH;
    max-height: 95%;    
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#sudokuGrid{
    background-color: white;
    order: 1;
}

#keyPad{
    opacity: 0.2;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    pointer-events: none;
    order: 2;
}  

#puzzleArea.keyPadMode .keyPad{
    opacity: 1;
    pointer-events: all;
}

#puzzleArea.keyPadMode .sudokuGrid{
    display: none;
}

.keyPadDigit{
    width: 31%;
    box-sizing: border-box;
    border: 8px #5f5f61 solid;
    background-color: #d7d7d9;
    float: left;
    border-radius: 28px;
    margin-left: 1.13%;
    margin-right: 1.13%;
    height: 95%;
    position: relative;
    
    .number{
        text-align: -webkit-center;
        color: $QLIK_GREEN;
        height: 5.4rem;
        font-size: 5.4rem;  
    }
}
    
.sudokuRow{
    height: 33.33%;
}

.sudokuCluster{
    width: 33.33%;
    box-sizing: border-box;
    height: 100%;
    border: 2px black solid;
    float: left;
}

.sudokuCell{
    width: 33.33%;
    box-sizing: border-box;
    height: 100%;
    border: 1px gray solid;
    float: left;   
    position: relative;
    
    &.selected{
        -webkit-box-shadow: inset 0px 0px 7px 0px $QLIK_GREEN;
        -moz-box-shadow: inset 0px 0px 7px 0px rgba $QLIK_GREEN;
        box-shadow: inset 0px 0px 7px 0px $QLIK_GREEN;        
    }
    
    &.error{
        -webkit-box-shadow: inset 0px 0px 7px 0px red;
        -moz-box-shadow: inset 0px 0px 7px 0px rgba red;
        box-shadow: inset 0px 0px 7px 0px red;        
    }
    
    .number{
        text-align: -webkit-center;
        color: #464646;
        height: 2rem;
        font-size: 2rem;  
        
        &.userEnteredValue{
            color: $QLIK_GREEN;
            font-weight: 800;
        }
        
        &.initialValue{
            color: black;
            font-weight: 800;
        }
    }
}

#progressBar{
    position: absolute;
    bottom: 30px;
    left: 0;
    right:0;
    margin: auto;
    width: 50%;
}

/****************************************************
 * Styling of elements contained in the Bottom Area
 ****************************************************/
.bottomAreaButton{
    width: 33%;
    padding-left: 20px;
    padding-right: 20px;    
    border: 1px solid black;
    border-radius: 10px;
    font-family: Qlik-Website-Font,Helvetica,Roboto,Arial,sans-serif !important;     
    height: 75%;
    font-size: 2rem;
    background-color: $QLIK_LIGHT_GREY;
    box-sizing: border-box;
    text-transform: uppercase;
}

/***********************************
 * Miscelaneous styling classes
 ***********************************/
.hidden {
    display: none;
}

.disableTouch{
    pointer-events: none;
}

.absolutelyCentered{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
}

/************ Media query for iPad devices *****************
 * On iPad, the following teaks need to be made:
 *  1- Sudoku cell numbers need to be bigger
 *  2- Labels on bottom buttons needs to be bigger
 *  3- Digits on keypad need to be bigger
 *  4- A larger background watermark need to used 
 *
 *  Because all the font-sizes are expressed in rem units,
 *  all the fonts can be re-ajusted by tweak the font size
 *  of the html element
 ***********************************************************/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    html{
        font-size: 20px;
    }
    #puzzleArea{
        background-image: url("../res/img/rings-right-large.png");    
    } 
}

/************ Media query for iPhone 6 Plus ******************
 *  The iPhone6 Plus does nto look bad with the defaut style
 *  but it gcould benefirt from a small font size boost and 
 *  the larger background image.
 *************************************************************/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
    html{
        font-size: 15px;
    }
    #puzzleArea{
        background-image: url("../res/img/rings-right-large.png");    
    } 
}

/************ Media query for devices in landsape mode **********************
 *  For landscape mode, place the Sudoku puzzle and the keypad side-by-side.
 ****************************************************************************/
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    #sudokuGrid{
        height: 43vw;
        width:  43vw;
        max-height: 100%;
        position: relative;
    }
    
    #keyPad{
        height: 43vw;
        width: 43vw;
        max-height: 100%;
        position: relative;
    }    

    #puzzleArea.keyPadMode .sudokuGrid{
        display: block;
    }
}
