/* Font shamelessy stolen from Qlik website */
@font-face {
  font-family: 'Qlik-Website-Font';
  src: url("../res/font/qlikfont.woff2");
  font-weight: normal;
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\0000318}}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\0000322}}
html, body {
  height: 100%;
  box-sizing: border-box;
  font-family: Qlik-Website-Font,Helvetica,Roboto,Arial,sans-serif !important;
  margin: 0;
  padding: 0;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\0000331}}
html {
  font-size: 13px; }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\0000335}}
body {
  -webkit-touch-callout: none;
  /* event callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: white;
  background-attachment: fixed;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\0000347}}
#sudoquApp {
  height: 100%;
  box-sizing: border-box; }

/*****************************************
/* Style the three sections of the app:
/*   - Top Area
/*   - Puzzle Area
/*   - Bottom Area
******************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\0000358}}
#topArea {
  height: 10%;
  position: relative;
  background-color: #5f5f61;
  box-sizing: border-box;
  background-image: url("../res/img/logo-large.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-bottom: 2px solid #60a729; }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\0000370}}
#puzzleArea {
  height: 78%;
  position: relative;
  background-color: white;
  padding: 25px;
  padding-bottom: 30px;
  box-sizing: border-box;
  background-image: url("../res/img/rings-right-small.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 20%;
  background-color: #f3f3f3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\0000388}}
#bottomArea {
  height: 12%;
  position: relative;
  background-color: #5f5f61;
  border-top: 2px solid #60a729;
  box-sizing: border-box;
  min-height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px; }

/****************************************************
 * Styling of elements contained in the Puzzle Area
 ****************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003106}}
.puzzleAreaContent {
  height: 90vw;
  width: 90vw;
  max-height: 95%;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003118}}
#sudokuGrid {
  background-color: white;
  order: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003123}}
#keyPad {
  opacity: 0.2;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  pointer-events: none;
  order: 2; }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003131}}
#puzzleArea.keyPadMode .keyPad {
  opacity: 1;
  pointer-events: all; }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003136}}
#puzzleArea.keyPadMode .sudokuGrid {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003140}}
.keyPadDigit {
  width: 31%;
  box-sizing: border-box;
  border: 8px #5f5f61 solid;
  background-color: #d7d7d9;
  float: left;
  border-radius: 28px;
  margin-left: 1.13%;
  margin-right: 1.13%;
  height: 95%;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003152}}
  .keyPadDigit .number {
    text-align: -webkit-center;
    color: #60a729;
    height: 5.4rem;
    font-size: 5.4rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003160}}
.sudokuRow {
  height: 33.33%; }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003164}}
.sudokuCluster {
  width: 33.33%;
  box-sizing: border-box;
  height: 100%;
  border: 2px black solid;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003172}}
.sudokuCell {
  width: 33.33%;
  box-sizing: border-box;
  height: 100%;
  border: 1px gray solid;
  float: left;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003180}}
  .sudokuCell.selected {
    -webkit-box-shadow: inset 0px 0px 7px 0px #60a729;
    -moz-box-shadow: inset 0px 0px 7px 0px rgba #60a729;
    box-shadow: inset 0px 0px 7px 0px #60a729; }
@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003186}}
  .sudokuCell.error {
    -webkit-box-shadow: inset 0px 0px 7px 0px red;
    -moz-box-shadow: inset 0px 0px 7px 0px rgba red;
    box-shadow: inset 0px 0px 7px 0px red; }
@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003192}}
  .sudokuCell .number {
    text-align: -webkit-center;
    color: #464646;
    height: 2rem;
    font-size: 2rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003198}}
    .sudokuCell .number.userEnteredValue {
      color: #60a729;
      font-weight: 800; }
@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003203}}
    .sudokuCell .number.initialValue {
      color: black;
      font-weight: 800; }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003210}}
#progressBar {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%; }

/****************************************************
 * Styling of elements contained in the Bottom Area
 ****************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003222}}
.bottomAreaButton {
  width: 33%;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: Qlik-Website-Font,Helvetica,Roboto,Arial,sans-serif !important;
  height: 75%;
  font-size: 2rem;
  background-color: #d7d7d9;
  box-sizing: border-box;
  text-transform: uppercase; }

/***********************************
 * Miscelaneous styling classes
 ***********************************/
@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003239}}
.hidden {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003243}}
.disableTouch {
  pointer-events: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003247}}
.absolutelyCentered {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

/************ Media query for iPad devices *****************
 * On iPad, the following teaks need to be made:
 *  1- Sudoku cell numbers need to be bigger
 *  2- Labels on bottom buttons needs to be bigger
 *  3- Digits on keypad need to be bigger
 *  4- A larger background watermark need to used 
 *
 *  Because all the font-sizes are expressed in rem units,
 *  all the fonts can be re-ajusted by tweak the font size
 *  of the html element
 ***********************************************************/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003270}}
  html {
    font-size: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003273}}
  #puzzleArea {
    background-image: url("../res/img/rings-right-large.png"); } }
/************ Media query for iPhone 6 Plus ******************
 *  The iPhone6 Plus does nto look bad with the defaut style
 *  but it gcould benefirt from a small font size boost and 
 *  the larger background image.
 *************************************************************/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003286}}
  html {
    font-size: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003289}}
  #puzzleArea {
    background-image: url("../res/img/rings-right-large.png"); } }
/************ Media query for devices in landsape mode **********************
 *  For landscape mode, place the Sudoku puzzle and the keypad side-by-side.
 ****************************************************************************/
@media screen and (min-aspect-ratio: 1 / 1) and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003298}}
  #sudokuGrid {
    height: 43vw;
    width: 43vw;
    max-height: 100%;
    position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003305}}
  #keyPad {
    height: 43vw;
    width: 43vw;
    max-height: 100%;
    position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/J\:\/Projects\/SudoQu\/www\/css\/sudoqu\.scss}line{font-family:\00003312}}
  #puzzleArea.keyPadMode .sudokuGrid {
    display: block; } }
